# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log